extends _includes/layout.pug

block content
  div.archive
    if !is_year()
      if theme.atom
        p The feed is available via&nbsp;
          a(href=theme.atom) atom
          span .
        br

      //- Timeline-style archive layout
      - var years = {}
      - var posts = site.posts.toArray()
      
      //- Group posts by year and month
      if posts && posts.length
        each post in posts
          if post && post.date
            - var year = post.date.year()
            - var month = post.date.month() + 1
            - var monthName = post.date.format('MMMM')
            
            - if (!years[year]) years[year] = {}
            - if (!years[year][month]) years[year][month] = { name: monthName, posts: [] }
            - years[year][month].posts.push(post)

      //- Sort years in descending order (newest first)
      - var sortedYears = Object.keys(years).sort((a, b) => b - a)
      
      //- Display years and months in timeline format (newest first)
      each year in sortedYears
        - var yearData = years[year]
        - var yearPostCount = 0
        each monthData, month in yearData
          - yearPostCount += monthData.posts.length
        
        h2(data-count=yearPostCount) #{year}
        
        //- Sort months in descending order (newest first)
        - var sortedMonths = Object.keys(yearData).sort((a, b) => b - a)
        
        each month in sortedMonths
          - var monthData = yearData[month]
          h3(data-count=monthData.posts.length) #{monthData.name}
          
          //- Sort posts within month by date descending (newest first)
          - var sortedPosts = monthData.posts.sort((a, b) => b.date - a.date)
          
          each post in sortedPosts
            .archive-post
              a(href=url_for(post.path))= post.title

    else
      //- Year-specific view
      h1= page.month + '/' + page.year

      //- Sort posts in descending order (newest first)
      - var sortedArticles = page.posts.toArray().sort((a, b) => b.date - a.date)

      each article in sortedArticles
        if article && article.date
          .archive-post
            a(href=url_for(article.path))= article.title

      #paginator!= paginator()
